<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MindSweeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>

</head>
<body>

<h1>
    About
</h1>

<p>
    We are just a couple of BBD grads trying to find our place in this world/company. 
    Please enjoy we tried our best and worked very hard.
</p>

<div class="container">
        <form  th:action="@{/}">
            <div class="form-group">
                </br>
                </br>
                <button type="submit" class="btn btn-primary">Back</button>
            </div>
        </form>
        </div>

</body>
<div class="footer">
    <p>Made with <span style="color: #e25555;">&hearts;</span> by the MindSweeper team</p>
</div>
</html>