<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <script type="text/javascript" src="/javascript/game.js"></script>
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/axios.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MineSweeper</title>

</head>
<body id="theBody" >
        <p id="idNum" class="invisible" th:text="${id}"></p>
        <span th:if="${isEnd == true}" >
                <img onload="endGame();" src="/images/block.png" class="invisible"></img>
        </span>

    <span th:each="row : ${#numbers.sequence( 0, ysize-1)}">
        <tr th:each="column : ${#numbers.sequence( 0, xsize-1)}">
            
           

            <span th:if="${Cells[row][column].isClicked() == true}">
                <span th:switch="${Cells[row][column].getValue()}">

                    <span th:case="-1">
                        <td th:if="${isEnd == false}">
                             <img class="cell" src="/images/bomb.png" onload="endgame2();"/>
                        </td>
                        <td th:unless="${isEnd == false}">
                                <img class="cell" src="/images/bomb.png" />
                        </td>
                         
                    </span> 
                    <td th:case="0"><img class="cell" src="/images/block_clicked.png"/></td>
                    <td th:case="1"><img class="cell" src="/images/one.png"/></td>
                    <td th:case="2"><img class="cell" src="/images/two.png"/></td>
                    <td th:case="3"><img class="cell" src="/images/three.png"/></td>
                    <td th:case="4"><img class="cell" src="/images/four.png"/></td>
                    <td th:case="5"><img class="cell" src="/images/five.png"/></td>
                    <td th:case="6"><img class="cell" src="/images/six.png"/></td>
                    <td th:case="7"><img class="cell" src="/images/seven.png"/></td>
                    <td th:case="8"><img class="cell" src="/images/eight.png"/></td>
                </span>
            </span>

            <span th:unless="${Cells[row][column].isClicked() == true}">
                <td th:if="${isEnd == false}">
                    <img 
                        class="cell-hoverable"
                        th:src="${Cells[row][column].flag ? '/images/flag.png' : '/images/block.png'}"
                        th:onclick="'testFunction(\'' + ${id}+ '\',\'' + ${row}+ '\',\'' + ${column} + '\');'"
                        th:oncontextmenu ="'flagFunction(\'' + ${id}+ '\',\'' + ${row}+ '\',\'' + ${column} + '\'); return false;'"
                    />
                </td>
                <td th:unless="${isEnd == false}">
                    <img class="cell-hoverable" src="/images/block.png"/>
                </td>

            </span>
        </tr>
        <br/>
    </span>
    <br>
    <br>
    <a href="/"><button type="submit" class="btn btn-primary">Restart</button></a>
        <th:block th:if="${hasWon==true}">
            <h1 class="gameOver">You Won!</h1>
            <img onload="endGame();" src="/images/block.png" class="invisible"></img>
        </th:block>
        <th:block th:if="${isEnd==true}">
            <h1 class="gameOver">Game Over, NOOB!</h1>
        </th:block>

</body>
<div class="footer">
    <p>Made with <span style="color: #e25555;">&hearts;</span> by the MindSweeper team</p>
</div>
</html>