<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MineSweeper</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/board.css">

    <style>
    body {
            background-color: rgb(53, 53, 53);
            text-align: center;
            margin-top: 5%;
        }
    </style>

</head>
<body>
    <span th:each="row : ${#numbers.sequence( 0, ysize-1)}">
        <tr th:each="column : ${#numbers.sequence( 0, xsize-1)}">
            <td th:if="${board[row][column]} eq 0"><a th:href="@{/game(row=${row},col=${column})}"><img class="cell" src="images/block.png"/></a></td>
            <td th:if="${board[row][column]} eq 1"><a href="@{/game(row=${row},col=${column})}"><img class="cell" src="images/one.png"/></a></td>
            <td th:if="${board[row][column]} eq 2"><a href="@{/game(row=${row},col=${column})}"><img class="cell" src="images/two.png"/></a></td>
            <td th:if="${board[row][column]} eq 3"><a href="@{/game(row=${row},col=${column})}"><img class="cell" src="images/three.png"/></a></td>
        </tr>
        <br/>
    </span>
</body>
</html>