<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MindSweeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</head>
<body>

<h1>
    Highscores
</h1>

<p>
    Display highscores
</p>

<div class="container">
    <div class="form-group">
        <a href="/"><button type="submit" class="btn btn-primary">Home</button></a>
    </div>
</div>

</body>
<div class="footer">
    <p>Made with <span style="color: #e25555;">&hearts;</span> by the MindSweeper team</p>
</div>
</html>